* {
    font-family: "Mukta Malar", sans-serif;
}

::selection {
    background: #27CE8E;
    color: #FFFFFF;
}

/*
STYLING THE DEFAULT MARK ELEMENT - APRIL 30, 2022.
COPIED FROM iTHEIRS STYLESHEET
*/
mark {
    border-radius: 4px 4px;
    display: inline-block;
    vertical-align: top;
    padding: 0 calc(.4em);
    margin: 0 calc(.4em / 2);
    background: hsla(48, 95.2%, 58.8%, 1);
    /*font-weight: bold; !* Fallback font-weight value *!*/
    font-weight: 500; /* Fallback font-weight value */
    font-family: "Noto-Medium", system-ui;
}

/*
Remove auto-complete color - Copied from StackOverflow
https://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form
January 6, 2022.
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
    background-color: whitesmoke;
    -webkit-text-fill-color: #000 !important;
    caret-color: #27CE8E;
}

/*input:-internal-autofill-selected {
    color: transparent !important;
}*/
input:-internal-input-selected {
    color: white !important;
}

.header-container-sticky {
}

/*.header-container ~ #id-summary-result-container[class~="d-none"] > #id-summary-result-container:not(:empty) {*/
/*    border: 4px solid orange;*/
/*    display: block;*/
/*}*/

.summary-loading-animation-container {
}
.summary-loader {
    animation: summary_loader 2s infinite linear;
}

@keyframes summary_loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#id-text-field:not(:focus) + button {
    /*display: none;*/
}