::selection {
    background: #27CE8E;
    color: #FFFFFF;
}

.header-container-sticky {}

.header-container~#id-summary-result-container[class~="d-none"]>#id-summary-result-container:not(:empty) {
    border: 4px solid orange;
    display: block;
}

.summary-loading-animation-container {}